.bootscale.bootscale3-1{
	width: 8.33333333% !important;
}
.bootscale.bootscale3-2{
	width: 16.66666667% !important;
}
.bootscale.bootscale3-3{
	width: 25% !important;
}
.bootscale.bootscale3-4{
	width: 33.33333333% !important;
}
.bootscale.bootscale3-5{
	width: 41.66666667% !important;
}
.bootscale.bootscale3-6{
	width: 50% !important;
}
.bootscale.bootscale3-7{
	width: 58.33333333% !important;
}
.bootscale.bootscale3-8{
	width: 66.66666667% !important;
}
.bootscale.bootscale3-9{
	width: 75% !important;
}
.bootscale.bootscale3-10{
	width: 83.33333333% !important;
}
.bootscale.bootscale3-11{
	width: 91.66666667% !important;
}
.bootscale.bootscale3-12{
	width: 100% !important;
}
.row-fluid  .bootscale.bootscale2-12 {
  width: 100% !important;
  *width: 99.94680851063829% !important;
}

.row-fluid .bootscale.bootscale2-11 {
  width: 91.48936170212765% !important;
  *width: 91.43617021276594% !important;
}

.row-fluid .bootscale.bootscale2-10 {
  width: 82.97872340425532% !important;
  *width: 82.92553191489361% !important;
}

.row-fluid .bootscale.bootscale2-9 {
  width: 74.46808510638297% !important;
  *width: 74.41489361702126% !important;
}

.row-fluid .bootscale.bootscale2-8 {
  width: 65.95744680851064% !important;
  *width: 65.90425531914893% !important;
}

.row-fluid .bootscale.bootscale2-7 {
  width: 57.44680851063829% !important;
  *width: 57.39361702127659% !important;
}

.row-fluid .bootscale.bootscale2-6 {
  width: 48.93617021276595% !important;
  *width: 48.88297872340425% !important;
}

.row-fluid .bootscale.bootscale2-5 {
  width: 40.42553191489362% !important;
  *width: 40.37234042553192% !important;
}

.row-fluid .bootscale.bootscale2-4 {
  width: 31.914893617021278% !important;
  *width: 31.861702127659576% !important;
}

.row-fluid .bootscale.bootscale2-3 {
  width: 23.404255319148934% !important;
  *width: 23.351063829787233% !important;
}

.row-fluid .bootscale.bootscale2-2 {
  width: 14.893617021276595% !important;
  *width: 14.840425531914894% !important;
}

.row-fluid .bootscale.bootscale2-1 {
  width: 6.382978723404255% !important;
  *width: 6.329787234042553% !important;
}